.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.topbar-container svg {
  font-size: 2.4rem;
  color: var(--svg-color);
  cursor: pointer;
  vertical-align: middle;
}

.topbar-container svg.active {
  color: var(--primary-hover-color);
}

.topbar-middle,
.topbar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 767px) {
  .topbar-middle {
    margin-left: auto;
    gap: 1.2rem;
  }
}

.topbar-form {
  position: relative;
  gap: 1rem;
}

.topbar-form input {
  height: 6rem;
  width: 48rem;
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0.8rem;
  padding: 0 4.8rem 0 2rem;
  background-color: var(--bg-light-color);
}

@media (max-width: 991px) {
  .topbar-form input {
    width: 36rem;
  }
}

@media (max-width: 767px) {
  .topbar-form input {
    display: none;
  }
}

.topbar-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}

@media (min-width: 767px) {
  .topbar-btn {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    translate: 0 -50%;
  }
}

.topbar-btn svg {
  color: var(--text-color);
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.dark-light svg {
  font-size: 2rem;
}

.topbar-right .dark,
.topbar-right.darkmode .light {
  display: none;
}

.topbar-right.darkmode .dark {
  display: block;
}

.topbar-right .grid-layout .list-layout,
.topbar-right .list-layout .grid-layout {
  display: none;
}

@media (max-width: 767px) {
  .topbar-right {
    display: none;
  }
}
